html, body{
    height: 100%;
    background-color: #f0f7f4;
}

.text {
    text-align: justify; 
    text-indent: 20px;
    font-size: 1.25em;
}

.text-card {
  text-align: justify; 
  text-indent: 0;
  font-size: 1em;
}

blockquote {
    border-left: 10px solid #89b79c; 
    padding: 5px;
}

.logo-image {
  width: 200px;
  height: auto;
}

@media (max-width: 990px) {
  .navbar .navbar-collapse {
      text-align: center;
  }

  .navbar .logo-container {
      display: inline-block;
      margin: 0 auto;
  }
}

main {
    background-color: #f0f7f4;
}

form {
    max-width: 700px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto 0;
    background-color: #dfe9e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.slider-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    height: 150px; /* Ajusta la altura según tus necesidades */
  }
  
  .slider {
    display: flex;
    /* Ajustamos la altura de las imágenes al contenedor */
    height: 100%;
  }
  
  .slider img {
    width: auto; /* Cambiamos width a auto para que las imágenes no se estiren */
    height: 100%; /* Ajustamos la altura de las imágenes al contenedor */
    display: block;
    object-fit: contain; /* Ajustamos la relación de aspecto */
    margin-right: 80px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
/* Pie de pagina */

footer{
    background-color: #dfe9e3;
    margin-top: 40px;
    text-align: center;
    font-size: 20px; 
    padding: 20px 0;
    width: 100%;
}

p {
    margin: 0;
}